/*body {*/
/*        padding: 0px;*/
/*        margin: 0px;*/
/*        font-family: Arial, Helvetica, sans-serif;*/
/*        color:white;*/
/*        }*/

/*        body, html {*/
/*                  height: 100%;*/
/*                }*/
/*            html, body {*/
/*                padding: 0px;*/
/*                margin: 0px;*/
/*                background-color: #8c8c8c;*/
/*                background-position: center;*/
/*                background-repeat: no-repeat;*/
/*                background-size: cover;*/
/*                height: 100%;*/
/*                overflow-x: scroll;*/
/*            }*/

/*        .header {*/
/*            background-color: rgba(0, 0, 0, 0.3);*/
/*            font-weight: bold;*/
/*            text-transform: uppercase;*/
/*            font-size: large;*/
/*            color:white;*/

/*            text-align: center;*/
/*            padding: 30px;*/
/*        }*/
/*        .footer*/
/*        {*/

/*        }*/

/*        .info*/
/*        {*/
/*            text-align:left;*/
/*            color:gray;*/
/*            width:30%;*/
/*            margin:auto;*/
/*            padding:20px;*/
/*            font-size:14px;*/
/*        }*/


/*        .content {*/
/*            width: 100%;*/
/*        }*/

/*        .upload_part {*/
/*            background-color: rgba(0, 0, 0, 0.3);*/
/*            text-align: center;*/
/*            padding: 40px;*/
/*        }*/

/*        .upload_button {*/
/*            background-color: #FEED06;*/
/*            color: black;*/
/*            padding: 15px;*/
/*            font-size: 16px;*/
/*            border: 0px;*/
/*            border-radius: 5px;*/
/*            -webkit-box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);*/
/*            -moz-box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);*/
/*            box-shadow: 6px 8px 18px -5px rgba(0, 0, 0, 0.38);*/
/*            cursor: pointer;*/
/*        }*/

/*        .upload_hint {*/
/*            margin: 10px;*/
/*            font-size: 14px;*/
/*            color: rgb(200, 200, 200);*/
/*        }*/

/*        .result_part {*/
/*            text-align: center;*/
/*            padding: 40px;*/
/*        }*/

/*        .result_title {*/
/*            font-size: 18px;*/
/*            font-weight: bold;*/
/*        }*/

/*        .result_id {*/
/*            padding: 10px;*/
/*            margin: 15px;*/
/*            font-size: 16px;*/

/*        }*/

/*        .result_id_number {*/
/*            margin: 15px;*/
/*            padding: 10px;*/
/*            padding-left: 15px;*/
/*            padding-right: 15px;*/
/*            background-color: #FEED06;*/
/*            color: black;*/
/*            font-weight: bold;*/
/*            font-size: 18px;*/
/*            border-radius: 5px;*/

/*        }*/
.red {
    color: red
}